

<h1>Kreuzungsauswahl</h1>
<p></p>
<form action="/error">
<label for="crossing"></label>
 <select id="crossing" name="crossing">
  <option name="crossing" value={{crossing}}>{{crossing}}</option>
  
</select>
<button>submit</button>

</form>
