<h1>Kreuzungsauswahl</h1>
<p></p>
<form action="/error">
<label for="crossing"></label>
  <select id="crossing" name="crossing">
  {{#each crossings}}
    <option name="crossing" value={{this._id}}>{{this.name}}</option>
  {{/each}}
  </select>
<button>submit</button>
</form>
