
<br></br>

<div id="whole">

<form action="/danke" method="get">
<label for="button">
<input type="hidden" name="button" value="errorfree"><button>fehlerfrei</button>
</label></form>


<div id="firstfour">
<form action="/danke" method="get">
<label for="button">
<input type="hidden" name="button" value="finding"><button>Auffindeton</button>
</label></form>

<form action="/danke" method="get">
<label for="button">
<input type="hidden" name="button" value="pressbutton"><button>Drucktaste</button>
</label></form>

<form action="/danke" method="get">
<label for="button">
<input type="hidden" name="button" value="confirmsignal"><button>Bestättigunssignal</button>
</label></form>

<form action="/danke" method="get">
<label for="button">
<input type="hidden" name="button" value="releasesignal"><button>Freigabesignal</button>
</label></form>

</div>
<div id="secondfour">

<form action="/danke" method="get">
<label for="button">
<input type="hidden" name="button" value="vibration"><button>Vibration</button>
</label></form>

<form action="/danke" method="get">
<label for="button">
<input type="hidden" name="button" value="greenphase"><button>Grünphasenton 180/min</button>
</label></form>

<form action="/danke" method="get">
<label for="button">
<input type="hidden" name="button" value="tactile"><button>taktile Symbole</button>
</label></form>

<form action="/danke" method="get">
<label for="button">
<input type="hidden" name="button" value="unpressedbutton"><button>Druckknopf ungedrückt</button>
</label></form>

</div>

