
<br></br>
<form action="/crossing" method="get">
username: <input type="text" id="username"><br></br>
password: <input type="text" id="password"><br></br>
<label for="encrypted">
<input type="hidden" name="encrypted" value="asgjfakgjlasdglj152314kjlk">
<button>submit</button>
</label>
</form>
<div id="message"></div>

